{
  "presets": [
    [
      "env",
      {
        "target": {
          "browsers": [
            ">1%",
            "last 5 version"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import"
  ]
}
